
$clr-white: hsl(0, 100%, 100%);
$clr-black: hsl(0, 0%, 0%);

// Navy colors 
$clr-navy-950: hsl(226, 43%, 10%);
$clr-navy-900: hsl(235, 46%, 20%);
$clr-navy-800: hsl(236, 41%, 34%);
$clr-navy-200: hsl(236, 100%, 87%);

// Orange 
$clr-orange: hsl(15, 100%, 70%);

// Purple 
$clr-purple-600: hsl(246, 80%, 60%);
$clr-purple-700: hsl(264, 64%, 52%);
$clr-purple-500: hsl(235, 45%, 61%);

// Blue 
$clr-blue-300: hsl(195, 74%, 62%);

// Pink 
$clr-pink-400: hsl(348, 100%, 68%);

// Green 
$clr-green-400: hsl(145, 58%, 55%);

// Yellow 
$clr-yellow-300: hsl(43, 84%, 65%);

// Grey
$clr-grey-200: hsl(0, 0%, 85%);