@use 'fonts' as f;

%font-rubik {
    font-family: f.$ff-rubik;
    letter-spacing: 0rem;
}

@mixin text-preset-1 {
    @extend %font-rubik;
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 4.125rem;
}

@mixin text-preset-2 {
    @extend %font-rubik;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 2.9375rem;
}

@mixin text-preset-3 {
    @extend %font-rubik;
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.375rem;
}

@mixin text-preset-4 {
    @extend %font-rubik;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.75rem;
}

@mixin text-preset-5-regular {
    @extend %font-rubik;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.3125rem;
}

@mixin text-preset-5-medium {
    @extend %font-rubik;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.3125rem;
}

@mixin text-preset-6 {
    @extend %font-rubik;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.125rem;
}