@use '../globals/colors' as c;
@use '../globals/typography' as t;

.profile-card {
    margin-top: 5.06rem;
    width: 20.4375rem;
    height: 12.6875rem;

    &__img {
        width: 4.125rem;
        height: 4.125rem;
        border-radius: 50%;
        border: 3px solid c.$clr-white;
    }

    &__back {
        width: 100%;
        height: 100%;
        background-color: c.$clr-navy-900;
        border-radius: 0.9375rem;
    }

    &__face {
        width: 100%;
        height: 8.3125rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        background-color: c.$clr-purple-600;
        border-radius: 0.9375rem;
    }

    &__name-flexbox {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

.profile {

    &__title {
        @include t.text-preset-6;
        color: c.$clr-navy-200;
    }

    &__name {
        @include t.text-preset-4;
        color: c.$clr-white;
    }
}

