@use '../globals/colors' as c;

body { 
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: c.$clr-navy-950;
}

.section__hours {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.card-container {
    
    &__hours {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        
    }
}