@use '../globals/colors' as c;

body { 
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: c.$clr-navy-950;
}

.wrapper {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    grid-template-areas: 
    "box-1"
    "section__hours";
}

.card-container {
    margin-bottom: 1.5rem;

    &__hours {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }
}